.bannerimage{
    background-image: url("../assets/Home-Page.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    position: relative;
}
.bannerimage div{
    margin: auto;
    color: rgb(0, 0, 0);
    width: fit-content;
    height: fit-content;
    padding: 20px;
    position: absolute;
    top: 90%;
    bottom: 0%;left: 0%;
    right: 0%;
    font-size: 3em;
}
.navigbar{
    background-color: rgba(249, 12, 12, 0.75);
}
.navbarmy{
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: white;
}
#navbarNav{
    flex-grow: 0;
    font-size: 1.3em;
    padding: 1.2em;
    text-decoration: none;
}
.navbarmy a{
    padding: 20px;
    text-decoration: none;
    color: white;
    text-align: center;
}
.contact{
    background-color: rgba(249, 12, 12, 0.75);
    color: white;
}
.gtit{
    width: fit-content;
    margin: auto;
    margin-top: 20px;
}
.cont{
    box-shadow: 1px 1px 5px gray;
    margin-top: 50px;
    padding: 20px;
}
.frm .contact{
    padding: 20px;
}
.btnblock{
    width: 100%;
    height: 40px;
    background-color: rgba(249, 12, 12, 0.75);
    color: white;
}
.conSec{
    display: flex;
}
.foot{
    margin-top: 100px;
    background-color: #260631;
    padding-top: 50px;

}
.footer{
    min-height: 300px;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    text-align: center;
    width: 80%;
    margin: auto;
}
.getInT{
    display: flex;
}
.getInT div{
    margin: 20px;
    padding: 10px;
}
.sbs{
    width: 100%;
    color: white;
    background-color: rgba(249, 12, 12, 0.75);

}
.follow div{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}
.follow img{
    max-width: 50px;
}