@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: inherit;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#F60E0E;
  color: #fff;
}
.logo {
  font-size: 18px;
  margin: .85rem;
}
.menu ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.menu li {
  list-style: none;
}
.menu li a {
  text-decoration: none;
  color: #fff;
  padding: 14px 16px;
  display: block;
}
.menu li a:hover {
  background-color: #ccc;
  color: #000;
}
.toggle-button {
  position: absolute;
  top: 1.4rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggle-button .bar {
  height: 14px;
  width: 100%;
  margin: 2px;
  background-color: #fff;
  border-radius: 10px;
}
@media (max-width: 600px) {
  .toggle-button {
    display: flex;
  }
  .menu {
    display: none;
    width: 100%;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .menu ul {
    width: 100%;
    flex-direction: column;
  }
  .menu li {
    text-align: center;
  }
  .menu li a {
    padding: 14px 16px;
  }
  .menu.active {
    display: flex;
  }
}

/* Style Home Section */
#home{
  background: url('../assets/Home-Page.jpeg') no-repeat;
  background-size: cover;
  background-position: center;
  padding: 150px 60px;
  position: relative;
  color: #fff;
}
#home h1{
  font-size: 33px;
}
#home h1 p{
  font-weight: bold;

}
/* Style button in home page */
#home button{
  border: none;
  background-color: #F60E0E;
  color: #fff;
  padding: 8px 20px;
  box-shadow: 2px 10px 9px #000;
}
#Descritpion{
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  
}
/* Style Container Inspiration */
#inspiration{
  background-color: #ccc;
  padding: 70px;
}
.thumbnail{
  width: 90%;
  border: 2px solid #ccc;
  box-shadow: 2px 3px 7px #000 ;
}
.thumbnail img{
  width: 80%;
  height: 100%; 
}
.desc{
  padding: 15px;
  background-color: #fff;
}
/* Style container start running */
#cont_running{
  background-color: #ccc;
 /* margin-top: -1.5em; */
 padding: 70px;

}
.left-heading{
  border-bottom: 10px solid #F60E0E;
}
.quote{
  font-size: 24px;
}