.activitiescol {
    flex: auto;
    padding: 10px;
}

.activities {
    background-color: #F60E0EC7;
    color: white;
    align-items: center;
    align-content: center;
    text-align: center;
}

.historycol {
    flex: auto;
    padding: 0px;
    align-items: center;
    align-content: center;
    text-align: left;
}

ul.donate {
    list-style-image: url('/assets/images/icons/love.png');
}

ul.started {
    list-style-image: url('/assets/images/icons/bulb.png');
}

ul.race {
    list-style-image: url('/assets/images/icons/label.png');
}

ul.founder {
    list-style-image: url('/assets/images/icons/users.png');
}

li.list {
    list-style-type: none;
}

.Teammember {
    width: 230px;
    height: 258px;
    margin-top: 50px;
}

.more,
.team,
.history {
    margin-top: 40px;
}

.moreinfo {
    background-color: #F60E0EC7;
    color: white;
    /* Rectangle 14 */
    width: 512px;
    height: 618px;
    background: rgba(247, 14, 14, 0.78);
    background-blend-mode: darken;
    padding: 50px;
    font-size: 18px;
    line-height: 21px;
}

.sectiontxt {
    text-decoration-line: underline;
    color: rgba(0, 0, 0, 0.5);
    margin: 0px;
}

.sideimg {
    width: 512px;
    height: 618px;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
}

.teamphoto {
    align-items: center;
    justify-content: center;
    align-content: center;
}

/* Style Home Section */
#home{
  background: url('../assets/Home-Page.jpeg') no-repeat;
  background-size: cover;
  background-position: center;
  padding: 150px 60px;
  position: relative;
  color: #fff;
}
#home h1{
  font-size: 33px;
}
#home h1 p{
  font-weight: bold;

}
/* Style button in home page */
#home button{
  border: none;
  background-color: #F60E0E;
  color: #fff;
  padding: 8px 20px;
  box-shadow: 2px 10px 9px #000;
}
#Descritpion{
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  
}
/* Style Container Inspiration */
#inspiration{
  background-color: #ccc;
  padding: 70px;
}
.thumbnail{
  width: 90%;
  border: 2px solid #ccc;
  box-shadow: 2px 3px 7px #000 ;
}
.thumbnail img{
  width: 80%;
  height: 100%; 
}
.desc{
  padding: 15px;
  background-color: #fff;
}
/* Style container start running */
#cont_running{
  background-color: #ccc;
 /* margin-top: -1.5em; */
 padding: 70px;

}
.left-heading{
  border-bottom: 10px solid #F60E0E;
}
.quote{
  font-size: 24px;
}
/* Style container quote */
#container-quote{
  background-color: #F60E0E;
  color: #fff;
  padding: 60px;
}
/* Style footer */
#Contact{
  background-color: #260631;
  color: #fff;
  padding: 20px;
  
}
.media{
  display: flex;

}
.media ul{
  list-style-type: none;
}
.media ul li{
  float: left;
  margin: 10px;
}
.footer{
background-color: #260631;
border-top: 1px solid gray;
color: #fff;
padding: 10px;
}


